site_name: 島地の部屋
site_url: https://shimajiteppei.github.io/
site_author: Shimaji Teppei
copyright: Copyright &copy; 2022 - Shimaji Teppei
site_description: shimajiteppei の個人サイト

theme:
    name: material
    palette:
        - media: "(prefers-color-scheme: light)"
          scheme: default
          primary: custom-light
          accent: custom
          toggle:
              icon: material/brightness-4
              name: Switch to dark mode
        - media: "(prefers-color-scheme: dark)"
          scheme: slate
          primary: custom-dark
          accent: custom
          toggle:
              icon: material/brightness-7
              name: Switch to light mode
    custom_dir: src/mkdocs/theme-overrides
    static_templates:
        - sitemap.xml
    features:
        - search.highlight
        - search.suggest
        - content.code.copy
        - navigation.footer
        - content.action.view
    language: ja
    font: false
    logo: favicon.webp
    favicon: favicon.webp

markdown_extensions:
    - admonition
    - def_list
    - footnotes
    - md_in_html
    - tables
    - toc:
          permalink: true
    # do not use pymdownx.arithmatex for rendering KaTeX by extra.js
    - pymdownx.betterem:
          smart_enable: all
    - pymdownx.caret
    - pymdownx.highlight:
          use_pygments: true
          linenums: true
          anchor_linenums: true
          stripnl: false
          pygments_lang_class: true
          extend_pygments_lang:
              - name: math
                lang: text
    - pymdownx.inlinehilite
    - pymdownx.magiclink
    - pymdownx.saneheaders
    - pymdownx.superfences:
          custom_fences:
              - name: mermaid
                class: mermaid
                format: !!python/name:pymdownx.superfences.fence_code_format
              - name: math
                class: language-math
                format: !!python/name:pymdownx.superfences.fence_div_format
              - name: python
                class: language-python
                validator: !!python/name:markdown_exec.validator
                format: !!python/name:markdown_exec.formatter
    - pymdownx.tasklist:
          custom_checkbox: true
    - pymdownx.tilde
    - pymdownx.tabbed:
          alternate_style: true

plugins:
    - glightbox
    - git-revision-date-localized
    - search:
          lang:
              - ja
    - markdown-exec:
          ansi: required
    - table-reader
    - minify:
          minify_html: true
          minify_js: true
          minify_css: true
          htmlmin_opts:
              remove_comments: true
              remove_empty_space: true
              reduce_boolean_attributes: true
    - awesome-nav:
          filename: .pages.yml

hooks:
    - src/mkdocs/hooks/page_content.py

exclude_docs: !ENV EXCLUDE_DOCS

use_directory_urls: false
site_dir: site
edit_uri: /

extra_css:
    - static/stylesheets/extra.css

extra_javascript:
    - static/javascripts/extra.js
