{% extends "mymain.html" %}

{% macro extract_title(markdown_content) %}
{% set title = markdown_content.split('\n')[0] %}
{% if title.startswith('# ') %}
{{ title[2:] }}
{% else %}
No Title
{% endif %}
{% endmacro %}
{% block container %}
<div class="md-content" data-md-component="content">
    <article class="md-content__inner md-typeset">
        {% if page.url.startswith('article') and (page.url.split('/') | length) >= 3 %}
        <h1 id="_1">
            {% for item in nav %}
            {% if item.url == page.url %}
            {{ item.title }}
            {% endif %}
            {% endfor %}
        </h1>
        <ul>
        {% for post in posts %}
            <li>
                <a href="{{ post.abs_url|url }}">{{ extract_title(post.markdown) }}</a>
            </li>
        {% endfor %}
        </ul>
        {% else %}
        {{ page.content }}
        {% endif %}
    </article>
</div>
{% endblock %}
