/** desktop layout */
@media screen and (min-width: 960px) {
  .md-main {
    background-image: url("../images/background.webp");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  .md-main > .md-main__inner {
    background-color: white;
    margin-top: 0;
    min-height: 100vh;
    height: 100%;
  }

  .md-grid {
    max-width: 1440px;
  }
  .md-grid .md-content {
    padding: 0 36px;
  }
}

/** hide footer link */
.md-footer {
  background-color: var(--md-primary-fg-color);
}
.md-footer nav {
  display: none !important;
}

/** article section number */
.article-page {
  line-height: 1 !important;
  font-weight: normal !important;
}
h1.article-page {
  counter-reset: h2;
}
h2.article-page {
  counter-reset: h3;
  text-decoration: underline;
}
h3.article-page {
  counter-reset: h4;
  text-decoration: underline;
}
h4.article-page {
  counter-reset: h5;
  text-decoration: underline;
}
h5.article-page {
  counter-reset: h6;
  text-decoration: underline;
}
h6.article-page {
  text-decoration: underline;
}
h2.article-page::before {
  content: counter(h2) " - ";
  counter-increment: h2;
}
h3.article-page::before {
  content: counter(h2) "." counter(h3) " - ";
  counter-increment: h3;
}
h4.article-page::before {
  content: counter(h2) "." counter(h3) "." counter(h4) " - ";
  counter-increment: h4;
}
h5.article-page::before {
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " - ";
  counter-increment: h5;
}
h6.article-page::before {
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) " - ";
  counter-increment: h6;
}
